<aside>
  <div id="popular">
    <h2 id="pop">Popular Trends</h2>
    <!-- wrapper for navigator elements -->        <!-- sub navigator #1 --> 
        <div class="navi"></div> 
<div id="pages"> 
    
    <!-- page #1 --> 
    <div class="page"> 
      
      <!-- inner scrollable #1 --> 
      <div class="scrollable"> 

        <!-- root element for scrollable items --> 
        <div class="items">        
          
          <!-- item 1  --> 
	            <div class="item">
	              <%= image_tag("science.png" , :alt => "science") %>	              
			    <!-- Tweet Start -->
<img src="images/no_image.png" alt="photo" class="tweet-image">
<div class="tweet-content">
  <span class="tweet-user-name"> <a href="#"> Username</a> <span class="tweet-full-name"><a href="#">Internet Exposure</a></span> </span> 
  <span class="tweet-row"> Panda update explained once again and manual action explained - radically better communication w/ site owners from Googs <a class="pretty-link" href="#">@mattcutts #pubcon</a> </span>
  <span class="tweet-row"><a class="tweet-timestamp"><span>Nov.9</span></a></span>
</div>
<!-- Tweet End -->
			</div> 
            
	  <!-- item 2  --> 
          <div class="item">
          <img src="/trendur/site/images/science.png" alt="science" />		    
			    <!-- Tweet Start -->
<img src="images/no_image.png" alt="photo" class="tweet-image">
<div class="tweet-content">
  <span class="tweet-user-name"> <a href="#"> Username</a> <span class="tweet-full-name"><a href="#">Internet Exposure</a></span> </span> 
  <span class="tweet-row"> Panda update explained once again and manual action explained - radically better communication w/ site owners from Googs <a class="pretty-link" href="#">@mattcutts #pubcon</a> </span>
  <span class="tweet-row"><a class="tweet-timestamp"><span>Nov.9</span></a></span>
</div>
<!-- Tweet End -->
			</div> 
            
	<!-- item 3  --> 
          <div class="item">
          <img src="/trendur/site/images/science.png" alt="science" />		        
			    <!-- Tweet Start -->
<%= image_tag("no_image.png" , :alt => "photo" , :class => "tweet-image") %>
<div class="tweet-content">
  <span class="tweet-user-name"> <a href="#"> Username</a> <span class="tweet-full-name"><a href="#">Internet Exposure</a></span> </span> 
  <span class="tweet-row"> Panda update explained once again and manual action explained - radically better communication w/ site owners from Googs <a class="pretty-link" href="#">@mattcutts #pubcon</a> </span>
  <span class="tweet-row"><a class="tweet-timestamp"><span>Nov.9</span></a></span>
</div>
<!-- Tweet End -->
			</div> 
            
        </div> 
      </div> 
    </div> 
  </div> 
  <script type="text/javascript"> 
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
jQuery(document).ready(function() {
// horizontal scrollables. each one is circular and has its own navigator instance
jQuery(".scrollable").scrollable({ circular: true }).navigator(".navi").autoscroll({ interval: 5000  });
});
</script>     
  
  </div>
  <div id="trend_tags">
    <h2 id="trends">Trends:</h2>
    <h3>Science &amp; Tech</h3>
    <div id="trend_container">
      <%= image_tag "science_icon.png" , :class => "icon" %>
      <ul id="tags">        
        <li><a href="#">Rubix Cube</a></li>
        <li><a href="#">How to clean a toilet</a></li>
        <li><a href="#">Bill Nye</a></li>
        <li><a href="#">Time travel</a></li>
        <li><a href="#">Aliens</a></li>
        <li><a href="#">Fastest car on the planet</a></li>
        <li><a href="#">Renuwable energy</a></li>
        <li><a href="#">Gas clouds</a></li>
        <li><a href="#">George Clooney</a></li>
        <li><a href="#">Carbon footprint</a></li>
        <li><a href="#">Water levels</a></li>
        <li><a href="#">Facts about bees</a></li>
        <li><a href="#">Life on other planets</a></li>
        <li><a href="#">Mars rover</a></li>
        <li><a href="#">Golden Gate Bridge facts</a></li>
        <li><a href="#">Types of airplanes</a></li>
      </ul>
    </div>
  </div>
  <div class="advert">
<%= image_tag("advert.jpg" , :size => "266x176") %>
</div>
</aside>
